* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: rgb(228, 227, 227);
}

/* Navbar */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  position: relative;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #0ef;
}

/* Home */

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(10, 41, 82);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
}

.home-content p {
  font-size: 20px;
}

/* TypeLoop */

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 28px;
  background-color: white;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.input-cursor {
  animation: blink 0.6s linear infinite alternate;
}
